<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljfu.lujorblog.mapper.CategoryMapper">

    <resultMap id="Category" type="com.ljfu.lujorblog.domain.Category" >
        <id column="categoryId" property="categoryId" />
        <result column="categoryPid" property="categoryPid" />
        <result column="categoryName" property="categoryName" />
        <result column="categoryDescription" property="categoryDescription" />
        <result column="categoryStatus" property="categoryStatus" />
    </resultMap>

    <sql id="CategoryAllColumn" >
        categoryId, categoryPid, categoryName, categoryDescription, categoryStatus
    </sql>

    <insert id="insertCategory" parameterType="com.ljfu.lujorblog.domain.Category" >
        insert into category (categoryId, categoryName, categoryPid, categoryDescription, categoryStatus)
        values (#{categoryId}, #{categoryPid}, #{categoryName}, #{categoryDescription}, #{categoryStatus})
    </insert>

    <insert id="insertCategoryIfNecessary" parameterType="com.ljfu.lujorblog.domain.Category" >
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="categoryId != null">categoryId, </if>
            <if test="categoryPid != null">categoryPid, </if>
            <if test="categoryName != null">categoryName, </if>
            <if test="categoryDescription != null">categoryDescription, </if>
            <if test="categoryStatus != null">categoryStatus</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="categoryId != null">#{categoryId}, </if>
            <if test="categoryPid != null">#{categoryPid}, </if>
            <if test="categoryName != null">#{categoryName}, </if>
            <if test="categoryDescription != null">#{categoryDescription}, </if>
            <if test="categoryStatus != null">#{categoryStatus}</if>
        </trim>
    </insert>

    <delete id="deleteByCategoryId" parameterType="java.lang.Integer" >
        delete from category
        where categoryId = #{categoryId}
    </delete>

    <select id="selectAllCategory" resultType="com.ljfu.lujorblog.domain.Category" >
        select <include refid="CategoryAllColumn" />
        from category
        order by categoryId asc
    </select>

    <select id="selectByCategoryId" parameterType="java.lang.Integer" resultMap="Category">
        select <include refid="CategoryAllColumn" />
        from category
        where categoryId = #{categoryId}
    </select>

    <select id="selectCategorysByCategoryPid" parameterType="java.lang.Integer" resultType="com.ljfu.lujorblog.domain.Category" >
        select *
        from category
        where categoryPid = #{categoryPid};
    </select>

    <update id="updateCategory" parameterType="com.ljfu.lujorblog.domain.Category" >
        update category
        set categoryPid = #{categoryPid},
          categoryName = #{categoryName},
          categoryDescription = #{categoryDescription},
          categoryStatus = #{categoryStatus}
        where categoryId = #{categoryId};
    </update>

    <update id="updateCategoryIfNecessary" parameterType="com.ljfu.lujorblog.domain.Category" >
        update category
        <set>
            <if test="categoryPid != null" >categoryPid = #{categoryPid}, </if>
            <if test="categoryName != null" >categoryName = #{categoryName}, </if>
            <if test="categoryDescription != null" >categoryDescription = #{categoryDescription}, </if>
            <if test="categoryStatus != null" >categoryStatus = #{categoryStatus}</if>
        </set>
        where categoryId = #{categoryId};
    </update>

</mapper>